<!doctype html>
<html>
	<head>
		<title>HTML-Verkoop.HTML</title>
		<link rel="stylesheet" type="text/css" href="reset.css">
		<link rel="stylesheet" type="text/css" href="HTML-Verkoop.CSS">
		<meta charset="utf-8">
	</head>
	<header>
		<center><h1><font style="font-family: impact" size="10">Paintball Gunz</font></h1></center>
		<center><img src="http://www.dyepaintball.com/dealers/2012-dye-products/images/2012-Reflex-P-Black-Graphite.png" width="50" height="50"></center>

	</header>
	<body>
		<div class="main">
			<div class="box1">
				<h2><font style="font-family: impact" size="5">Black</font></h2>
			<center><img src = "http://www.dyepaintball.com/dealers/2012-dye-products/images/2012-Reflex-P-Black-Graphite.png" width="100" height="150"
         	alt = "Picture of Computer" /></center>
         	<center><p><font style="font-family: Centaur" size="5">€59,99</font></p></center>
         	<center><p><font style="font-family: impact" size="3">Paintball is een sport die ontstaan is in de Verenigde Staten, waar het voor het eerst gespeeld werd in de jaren 80. Het is de bedoeling dat men elkaar beschiet met verfballetjes (gevuld met een niet schadelijk gelatine-kleurstoffenmengsel).
			In 1970 gebruikte James Hale van Daisy Manufacturing voor het eerst een geweer als paintballgeweer. Dit geweer was ontwikkeld voor boeren om bomen en vee te markeren.</font></p></center>
		</div>
			<div class="box2">
				<h2><font style="font-family: impact" size="5">Green</font></h2>
				<center><img src = "http://www.dyepaintball.com/dealers/2012-dye-products/images/2012-Reflex-P-PGA-Hands.png" width="100" height="150"
         	alt = "Picture of Computer" /></center>
         	<center><p><font style="font-family: Centaur" size="5">€99,99</font></p></center>
			<center><p><font style="font-family: impact" size="3">Paintball is een sport die ontstaan is in de Verenigde Staten, waar het voor het eerst gespeeld werd in de jaren 80. Het is de bedoeling dat men elkaar beschiet met verfballetjes (gevuld met een niet schadelijk gelatine-kleurstoffenmengsel).
			In 1970 gebruikte James Hale van Daisy Manufacturing voor het eerst een geweer als paintballgeweer. Dit geweer was ontwikkeld voor boeren om bomen en vee te markeren.</font></p></center>
		</div>
			<div class="box3">
				<h2><font style="font-family: impact" size="5">camo</font></h2>
				<center><img src = "http://www.dyepaintball.com/dealers/2012-dye-products/images/2012-Reflex-P-DyeCam.png" width="100" height="150"
         	alt = "Picture of Computer" /></center>
         	<center><p><font style="font-family: Centaur" size="5">€199,99</font></p></center>
			<center><p><font style="font-family: impact" size="3">Paintball is een sport die ontstaan is in de Verenigde Staten, waar het voor het eerst gespeeld werd in de jaren 80. Het is de bedoeling dat men elkaar beschiet met verfballetjes (gevuld met een niet schadelijk gelatine-kleurstoffenmengsel).
			In 1970 gebruikte James Hale van Daisy Manufacturing voor het eerst een geweer als paintballgeweer. Dit geweer was ontwikkeld voor boeren om bomen en vee te markeren.</font></p></center>
		</div>
		<div class="box1.1">
		</div>
	</body>
	<footer>
		<div class="Contact">
			<h3><font style="font-famili: impact" size="3" color="YELLOW">Contact</h3>
			<div class="lijstje">
				<ul>
					<li>Plaats; Korenbloemlaan 5 2900 Schoten</li>
					<li>Tel; 03/685 21 05</li>
					<li>Email; MarvyGerard@hotmail.com</li>

				</ul>
			</div>
	</footer>
	<footer>
		<div class="Verkooplijst">
			<h4>Wij verkopen</h4>
			<div class="lijstje1">
				<ul>
					<li>Paintball Gunz</li>
					<li>Paintball Kleding</li>
					<li>Paintball Maskers</li>
				</ul>
		</div>
	</footer>
</html>