body {
  background: tomato;
  font-family: helvetica;
}

.kader {
  width: 300px;
  background: white;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid black;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 15px;
}

p {
  line-height: 1.4em;
}

a {color: tomato;}

