<!doctype html>
<html>
	<head>
		<title>Eerste Interactieve app</title>
		<link rel="stylesheet" type="text/css" href="reset.css">
		<link rel="stylesheet" type="text/css" href="Eerste Interactieve app.css">
		<meta charset="utf-8">
	</head>
	<body>
		<header>
				<center><img src="http://www.ethicon.com/sites/default/files/images/customer-support/chat-icon-300x300.png" width="" height=""></center>
		</header>
		<main>
		    <section class="opm-input">
		      <p>ChatZone</p> 
              <input type="text">
              <button>+</button> 
            </section> 
            <section class="opmn"> 
            </section> 
        </main>
		<footer></footer>
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="Eerste Interactieve app.js"></script>
	</body>
</html>