<!doctype html>
<html>
	<head>
		<title>Project Euler</title>
		<link rel="stylesheet" type="text/css" href="reset.css">
		<link rel="stylesheet" type="text/css" href="Project Euler.css">
		<meta charset="utf-8">
	</head>
	<body>
		<header>
			Project Euler
		</header>
		<main>
		<div class = kadereen>
			<h1>Multiples of 3 and 5</h1>
			<p class="antwoord1"></p>
		</div>
		<div class = kadertwee>
			<h2>Even Fibonacci numbers</h2>
			<p class="antwoord2"></p>
		</div>
        </main>
		<footer></footer>
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="Project Euler.js"></script>
	</body>
</html>