body {
  width: 946px;
  margin: 50px auto;
  font-family: helvetica;
  font-size: 90%;
  line-height: 1.35em;
}

.linkerkolom, .middenkolom, .rechterkolom, .footer {
  border: 1px solid black;
  padding: 10px;
  
}

.linkerkolom {
  width: 280px;
 
}

.middenkolom {
  width: 280px;
  float: right;
  margin-bottom: 20px;
}

.rechterkolom {
  width: 280px;
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
}

.footer {
  clear: both;
}

h1 {
   font-size: 1.8em;
   margin-bottom: 1em; 
   font-weight: bold;
}