h1, h2, h3, h4, h5, h6 {
  font-family: helvetica;
  margin: 15px;
  text-align: center;
}

h1 {
  font-size: 2em;
  color: darkred;
}

h2 {
  font-size: 1.8em;
  color: firebrick;
}

h3 {
  font-size: 1.6em;
  color: red;
}

h4 {
  font-size: 1.4em;
  color: indianred;
}

h5 {
  font-size: 1.2em;
  color: lightcoral;
}

h6 {
  color: salmon;
}