<!doctype html>
<html>
	<head>
		<title>Reizen.html</title>
		<link rel="stylesheet" type="text/css" href="reset.css">
		<link rel="stylesheet" type="text/css" href="Reizen.css">
		<meta charset="utf-8">
	</head>
	<body>
		<div class="Hoofdkader">

<ul class="nav">
  <li>Ingelogd als Marvy Gerard</li>
  <li><a href="#" class="selected">Klantenzone</a></li>
  <li><a href="#">Beheer</a></li>
</ul>
<h1>Reizen Odysseus</h1>
<h2>Boek uw reizen vandaag tegen een gunsttarief</h2>

<div id="klantenzone">

<p>De prijzen zijn zo laag dat we ze haast niet mogen tonen.</p>

<div class="kader">
  <button class="delete">x</button>
  <h2>Kopenhagen</h2>
 
  <img src="http://www.stedenreis.com/images/images/1314365849-kopenhagen.jpg" alt="kopenhagen">
  <p>Prachtige all-in vakantie van 5 dagen</p>
  <button data-prijs="499">Klik hier voor beste prijs</button>
</div>

<div class="kader">
  <button class="delete">x</button>
  <h2>Berlijn</h2>
  <img src="https://everplaces.com/users/1aea7b2080954a18a9fe5f2953b9b4ca/places/a8b80cf8e2ec4eb79c44161f90a8f783/images/7805811251584e3f991a931a4ebf65db_big.jpg" alt="berlin">
  <p>Prachtige all-in vakantie van 5 dagen</p>
  <button data-prijs="499">Klik hier voor beste prijs</button>
</div>

<div class="kader">
  <button class="delete">x</button>
  <h2>Londen</h2>
  <img src="http://images-sanoma.cdn1.be/images/londen-kerstmis-shopping-weekend-citytrip-m1.jpg" alt="london">
  <p>Prachtige all-in vakantie van 5 dagen</p>
  <button data-prijs="499">Klik hier voor beste prijs</button>
</div>
<div class="clearing"></div>
</div>

<div id="beheer" class="nietzichtbaar">

  <p>Voeg hier nieuwe bestemmingen toe</p>
  <label for="best">Bestemming: </label>
  <input type="text" class="bestemming" id="best">
  <label for="afb">URL afbeelding (500x500px): </label>
  <input type="text" class="afbeelding" id="afb">
  <label for="dag">Beschrijving en aantal dagen: </label>
  <input type="text" class="dagen" id="dag">
  <label for="prs">Prijs: </label>
  <input type="text" class="prijs" id="prs">
  <button class="toev">Voeg nieuwe reis toe</button>
</div>
  <p class="clearing">Reizen Odysseus vervult uw warme en avontuurlijke buitenlandse dromen met passie sinds 1958</p>  
</div>
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="Reizen.js"></script>
	</body>
</html>