<!doctype html>
<html>
	<head>
		<title>Lesweek 8</title>
		<link rel="stylesheet" type="text/css" href="reset.css">
		<link rel="stylesheet" type="text/css" href="Lesweek 8.css">
		<meta charset="utf-8">
	</head>
	<body>
		<header>
			Lesweek 8
		</header>
		<main>
		<div class = kadereen>
			<h1>Multiples of 3 and 5</h1>
			<p class="antwoord1"></p>
		</div>
		<div class = kadertwee>
			<h2>Even Fibonacci numbers</h2>
			<p class="antwoord2"></p>
		</div>
    <div class = fizzbuzz>
      <h2>FizzBuzz</h2>
      <p class="uitkomstfizzbuzz"></p>
    </div>
	<div id="slideshow">
	<div class="slide active"><a href="#"><img
	src="frankrijk1.jpg" alt="Slideshow Image 1" /></a></div>
	<div class="slide"><a href="#"><img
	src="frankrijk2.jpg" alt="Slideshow Image 2" /></a></div>
	<div class="slide"><a href="#"><img
	src="frankrijk3.jpg" alt="Slideshow Image 3" /></a></div>
	</div>
	<div class="selectors">
	<h3>Selectors</h3>
	<h4>Hallo. Goeiedag</h4>
        <h5 class="belangrijk">Hallo opnieuw</h5> 
        <p1>Zomaar een paragraaf</p1>
        <div class="relevant"> 
            <p class="a1">Eerste</p> 
            <p class="a2">Tweede</p> 
            <p2>Derde</p2> 
            <p3>Vierde</p3>
            <p class="a5">Vijfde</p> 
            <p class="a6">Zesde</p> 
            <p4>Zevende</p4>
    </div>
        </main>
		<footer>
		</footer>
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
		<script src="Lesweek 8.js"></script>
	</body>
</html>