<!doctype html>
<html>
	<head>
		<title>Template.html</title>
		<link rel="stylesheet" type="text/css" href="reset.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="utf-8">
	</head>
	<body>
		<div class="kader">
		<table>
			<tr>
				<th>Voornaam</th>
				<th>naam</th>
				<th>Aanwezigheden</th>
				<th>punten</th>

			</tr>
			<tr>
				<td>Bart</td>
				<td>jansens</td>
				<td>4</td>
				<td>16</td>
				

			</tr>
			<tr>
				<td>wendy</td>
				<td>smets</td>
				<td>2</td>
				<td>16</td>

			</tr>
<tr>
				<td>jonas</td>
				<td>De bock</td>
				<td>4</td>
				<td>14</td>

			</tr>
			<tr>
				<td>bert</td>
				<td>schepers</td>
				<td>2</td>
				<td>18</td>

			</tr>
			<tr>
				<td>kevin</td>
				<td>boels</td>
				<td>4</td>
				<td>19</td>

			</tr>
		</table>
		</div>
	</body>
</html>